.container-home {
    height: 100%;
}
header {
    display: flex;
    height: 12%;
    background-color: var(--blue-500);


    div {
        display: flex;
        width: 88%;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }

    div.header-buttons {
        width: 10%;
        margin: 0;
    }

    h1 {
        color: var(--white);
        font-size: 2.5rem;
        font-family: 'Jost', sans-serif;
    }
}

.main {
    display: flex;
    height: 88%;

    div {
        display: flex;
        width: 93.5%;
        margin: 0 auto;
        flex-direction: column;

        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            justify-content: space-between;
            margin-top: 2rem;

            .container-form {
                display: flex;
                flex-direction: column;
                height: 30%;
                justify-content: space-between;
                color: var(--gray-500);
                font-family: "Montserrat", sans-serif;
                font-size: 1.25rem;

                input {
                    width: 30%;
                    height: 25%;
                    font-family: "Montserrat", sans-serif;
                    font-size: 1.2rem;
                    border: none;
                    background-color: var(--gray-100);
                    padding: 1rem;
                    border-radius: 10px;
                }

                #username {
                    width: 35%
                }

                #cpfInput{
                    width: 20%;
                }
            }

            button {
                margin-bottom: 2rem;
                width: 25%;
                height: 7.5%;
                align-self: flex-end;
                border: none;
                border-radius: 20px;
                background-color: var(--purple);
                color: var(--white);
                font-family: "Montserrat", sans-serif;
                font-size: 1.1rem;
                font-weight: 600;
            }
        }
    }
}
