.container {
    height: 100%;
    display: flex;
}

.sidebar {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--gray-500);
    font-family: 'Jost', sans-serif;
    color: var(--white);

    h1 {
        font-size: 3rem;
    }
}

.main {
    display: flex;
}