{% extends 'utils/base.html' %}
{% load sass_tags %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% sass_src 'scss/login/home.scss' %}">
{% endblock head %}

{% block content %}
<div class="container-home">
    {% include 'utils/admin-header.html' %}

    <div class="main">
        <div class="main-home-container">
            <div class="control-button">
                <button>
                    <a href="{% url 'codigo:admin-user-register' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="var(--white)"
                            viewBox="0 0 256 256">
                            <rect width="256" height="256" fill="none"></rect>
                            <circle cx="128" cy="120" r="40" fill="none" stroke="var(--white)" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="8"></circle>
                            <path d="M63.8,199.4a72,72,0,0,1,128.4,0" fill="none" stroke="var(--white)"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="8"></path>
                            <line x1="176" y1="56" x2="224" y2="56" fill="none" stroke="var(--white)"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="8"></line>
                            <line x1="200" y1="32" x2="200" y2="80" fill="none" stroke="var(--white)"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="8"></line>
                            <path d="M222.8,112.9A93.3,93.3,0,0,1,224,128a96,96,0,1,1-96-96,93.3,93.3,0,0,1,15.1,1.2"
                                fill="none" stroke="var(--white)" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="8"></path>
                        </svg>
                    </a>
                </button>
                <p>Cadastrar Usuário</p>
            </div>

            <div class="control-button">
                <button>
                    <a href="{% url 'codigo:admin-config' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="var(--white)"
                            viewBox="0 0 256 256">
                            <rect width="256" height="256" fill="none"></rect>
                            <circle cx="128" cy="128" r="48" fill="none" stroke="var(--white)" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="8"></circle>
                            <path
                                d="M183.7,65.1q3.8,3.5,7.2,7.2l27.3,3.9a103.2,103.2,0,0,1,10.2,24.6l-16.6,22.1s.3,6.8,0,10.2l16.6,22.1a102.2,102.2,0,0,1-10.2,24.6l-27.3,3.9s-4.7,4.9-7.2,7.2l-3.9,27.3a103.2,103.2,0,0,1-24.6,10.2l-22.1-16.6a57.9,57.9,0,0,1-10.2,0l-22.1,16.6a102.2,102.2,0,0,1-24.6-10.2l-3.9-27.3q-3.7-3.5-7.2-7.2l-27.3-3.9a103.2,103.2,0,0,1-10.2-24.6l16.6-22.1s-.3-6.8,0-10.2L27.6,100.8A102.2,102.2,0,0,1,37.8,76.2l27.3-3.9q3.5-3.7,7.2-7.2l3.9-27.3a103.2,103.2,0,0,1,24.6-10.2l22.1,16.6a57.9,57.9,0,0,1,10.2,0l22.1-16.6a102.2,102.2,0,0,1,24.6,10.2Z"
                                fill="none" stroke="var(--white)" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="8"></path>
                        </svg>
                    </a>
                </button>
                <p>Configurações</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}