{% extends 'utils/base.html' %}
{% load sass_tags %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% sass_src 'scss/login/config.scss' %}">

{% endblock head %}

{% block content %}
<div class="container-home">
    {% include 'utils/admin-header.html' with back="codigo:admin-home" %}
    <div class="main">
        <div>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="container-form hour-value-container">
                    <h2>Alterar valor da hora</h2>
                    <p>Valor atual: R$ {{ preco }}</p>
                    <div class="set-new-value">
                        <p>Novo valor: R$</p>
                        <input name="novoValorHora" type="number">
                    </div>
                </div>
                <div class="container-form parking-lot-container">
                    <h2>Estacionamento</h2>
                    <p>Veículos estacionados: {{ estacionados }}</p>
                    <p>Número de vagas disponíveis: {{ vagas }}</p>
                    <div class="set-new-value">
                        <p>Novo número de vagas: </p>
                        <input name="novoNumeroVagas" type="number">
                    </div>
                </div>
                <div class="container-form discount-value-container">
                    <h2>Desconto</h2>
                    <p>Desconto atual: {{ desconto }}%</p>
                    <div class="set-new-value">
                        <p>Novo valor: %</p>
                        <input name="novoValorDesconto" type="number">
                    </div>
                </div>
                <button class="bnt-primary">Alterar</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}