{% extends 'utils/base.html' %}
{% load sass_tags %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% sass_src 'scss/login/user-register.scss' %}">
{% endblock head %}

{% block content %}
<div class="container-home">
    {% include 'utils/admin-header.html' with back="codigo:admin-home" %}
    <div class="main">
        <div>
            <form action="" method="POST">
                <div class="container-form">
                    <h2>Cadastrar usuário:</h2>
                    {% csrf_token %}
                    <input id="username" name="userName" type="text" placeholder="nome do usuário">
                    <input id="cpfInput" name="cpf" type="text" placeholder="cpf">
                </div>
                    
                <button class="btn-primary">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}